*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
}

.test-border { border: 1px solid red;}

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'robotoregular';
  color: #cdcdcd;
  background-color: #121212;
  background-image: url("/images/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: 95%;
  max-width: 666px;
  margin: 0px auto;
}

.container header {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#img-box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: auto; 
  border: 5px solid #f3dcda;
  background-image: url("/images//Me.png");
  background-position: center;
  background-size: 100%;
}

#header-text {
  font-family: 'bowlby_one_scregular';
  color: #c9372c;
  font-size: 2rem;
}

#social-bar {
  padding: 15px 0;
  border-top: 2px solid #c9372c;
  border-bottom: 2px solid #c9372c;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

#social-bar a {
  color: #cdcdcd;
  font-size: 1.6rem;
  text-decoration: none;
}

#other-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

#other-links a {
  padding: 10px;
  border: 3px solid #c9372c;
  background-color: #c9362c63;
  color: #cdcdcd;
  display: block;
  width: 100%;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

